h1 d2MagCalc
div#header
  p
    input(type="text" placeholder="Mag Size" id="magSize")
    select(id="perk")
      option(value=3) Triple Tap
      option(value=4) 4th Times
    button(type="button" id="calculate") Calculate
  script(src="/calculate.js")
